body {
  margin: 40px;
  background-color: skyblue;
  background-image: url(https://media.istockphoto.com/videos/colorful-laser-lights-on-party-professional-color-lighting-and-sound-video-id1291226836?s=640x640);
  background-repeat: no-repeat;
  background-size: 1500px 800px;
}

.tinyheader {
  color: blue;
}

.title {
  color: rgb(11, 9, 105);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
}

#banner {
  display: flex;
  color: rgb(244, 221, 248);
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  margin-bottom: 10px;
  justify-content: flex-start;
  gap: 10px;
  font-size: 20px;
}

/* #header {
  color: gray;
} */

/* #newUser {
  color: violet;
} */

.button3 {
  color: grey
}

.body {
  display: flex;
  
}

.leftside {
  border-style: solid;
  border-width: 2px;
  border-color: white;
  width: 80%;
  height: 400px;
}

.rightside {
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  row-gap: 10px;
}

#label {
  color: rgb(244, 221, 248);
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
}

#updropdown {
  color: indigo;
  margin-bottom: 10%;
}

#lodropdown {
    color: indigo;
    margin-bottom: 10%;
}

#fulldropdown {
    color: indigo;
    margin-bottom: 10%;
}

.progress {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  width: 77.5%;
  height: 100px;
  margin-top: 20px;
  border-width: 2px;
  color: darkblue;
  font-size: 15px;
  font-family: "Lucida Console", "Courier New", monospace;
}